$header-min-p:1.6rem;
$header-min-t:1.2rem;
$app-pad:.3rem;

html {
	font-size:1vmin;
}

body {
	@include background(#fff inline-image('hp-bg.png'));
}

#app-root {
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
	position:relative;
	display:none;
}

#app-header {
	position:fixed;
	top:0px;
	left:0px;
	background:#666;
	@include box-sizing(border-box);
	box-shadow:0px 5px 10px rgba(0,0,0,0.25);
	@include display-box;
	@include box-pack(justify);
	@include box-align(center);
	
	
	.header-button {
		display:block;
	}
	
	#header-nav {
		@include display-box;
		@include box-pack(end);
	}
}

@media only screen and (orientation: portrait) {
	#app-header {
		padding:($app-pad * .75) $app-pad;
		@include background-image(linear-gradient(bottom, #4a4a4a, #2c2c2c));
	}
	
	.header-button {
		height:100%;
		width:auto;
	}
	
	#header-nav {
		height:60%;
		
		li {
			padding-left:$app-pad * .75;
		}
	}
}

@media only screen and (orientation: landscape) {
	#app-header {
		padding:$app-pad ($app-pad * .75);
		@include box-orient(vertical);
		@include background-image(linear-gradient(right, #4a4a4a, #2c2c2c));
	}
	
	.header-button {
		width:100%;
		height:auto;
	}
	
	#header-nav {
		@include box-orient(vertical);
		width:60%;
		
		li {
			padding-top:$app-pad * .75;
		}
	}
}

@media only screen and (orientation: portrait) and (max-width: 400px) {

	body {
		padding:$header-min-p $app-pad 0px;	
	}

	#app-header {
		width:100%;
		height:$header-min-p;	
	}
}

@media only screen and (orientation: landscape) and (max-height: 400px)  {

	body {
		padding:0px $app-pad 0px ($header-min-p + $app-pad);	
	}
	
	#app-header {
		height:100%;
		width:$header-min-p;	
	}
}

@media only screen and (orientation: portrait) and (min-width: 401px) {

	body {
		padding:$header-min-t $app-pad 0px;	
	}

	#app-header {
		width:100%;
		height:$header-min-t;	
	}
}

@media only screen and (orientation: landscape) and (min-height: 401px)  {

	body {
		padding:0px $app-pad 0px ($header-min-t + $app-pad);	
	}
	
	#app-header {
		height:100%;
		width:$header-min-t;	
	}
}

#app-content {
	background:#fff;
	padding:$app-pad;
}