$header-min-p:1rem;
$header-min-t:1rem;
$app-pad:.3rem;

html {
	font-size:1vmin;
}

body {
	@include background(#fff inline-image('hp-bg.png'));
}

#app-root {
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
	position:relative;
	display:none;
}

#app-header {
	position:fixed;
	top:0px;
	left:0px;
	background:#666;
}

@media only screen and (orientation: portrait) and (max-width: 400px) {

	body {
		padding:$header-min-p $app-pad 0px;	
	}

	#app-header {
		width:100%;
		height:$header-min-p;	
	}
}

@media only screen and (orientation: landscape) and (max-height: 400px)  {

	body {
		padding:0px $app-pad 0px ($header-min-p + $app-pad);	
	}
	
	#app-header {
		height:100%;
		width:$header-min-p;	
	}
}

@media only screen and (orientation: portrait) and (min-width: 401px) {

	body {
		padding:$header-min-t $app-pad 0px;	
	}

	#app-header {
		width:100%;
		height:$header-min-t;	
	}
}

@media only screen and (orientation: landscape) and (min-height: 401px)  {

	body {
		padding:0px $app-pad 0px ($header-min-t + $app-pad);	
	}
	
	#app-header {
		height:100%;
		width:$header-min-t;	
	}
}

#app-content {
	background:#fff;
	padding:$app-pad;
}