.unit {
	margin-bottom:$app-pad;

	.hero-main {
		position:relative;
	}
	
	.hero-image, .hero-aspect {
		width:100%;
		height:auto; 
	}
	
	.hero-over {
		position:absolute;
		bottom:0px;
		left:0px;
		padding:$app-pad * .75;
	
		.over-main { 
			border-left:$title-pad $dnews-blue solid;
			font-size:$title-size;
			line-height:$title-size;
			font-family:'Crete Round';
			
			span {
				display:inline-block;
				background:$dnews-blue;
				color:#fff;
				padding:$title-pad;
				padding-left:0px;
				
			}
		}
	}
	
	.unit-content {
		font-family:'Trebuchet MS';
	}
	
	.content-title {
		font-family:'Crete Round';
		font-size:$title-size;
		color:$dnews-link-blue;
	}
	
	.content-super {
		color:$dnews-grey;
		text-transform:uppercase;
		font-size:.8em;
		
		span {
			font-weight:bold;
		}
		
		a {
			color:$dnews-light-blue;
		}
	}
	
}

.unit.unit-aspect {
	.hero-main {
		overflow:hidden;
		
		.hero-image {
			position:absolute;
			top:0px;
			left:0px;
		}
	}
	
}

// Tablet Portrait

@media only screen and (orientation: portrait) and (min-width: 401px) {
	.unit {
		.hero-over {
			.over-main {
				border-left:$title-pad-tablet $dnews-blue solid;
				font-size:$title-size-tablet;
				line-height:$title-size-tablet;
				
				span {
					padding:$title-pad-tablet;
					padding-left:0px;
					
				}
			}
		}
		
		.content-title {
			font-size:$title-size-tablet;
		}
	}
}

// Tablet Landscape

@media only screen and (orientation: landscape) and (min-height: 401px)  {

}